/* 全体 */
body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #f5f0eb;
  color: #6e6259;
}

h2 {
  text-align: center;
  margin: 30px 0 20px 0; /* 下の余白はそのまま */
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: white;

}

header h1 {
  font-weight: normal;
  margin-left: 170px;
}

header .login {
  background-color: #f5f0eb;
  border: 1px solid #ddd;
  color: #ccc;
  padding: 5px 10px;
  cursor: not-allowed;
}

main {
  max-width: 400px;
  margin: 3em auto;
  background: rgb(255, 255, 255);
  padding: 6rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.register-box {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
  width: 350px;
  box-sizing: border-box;
}

.register-box h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}

.register-box label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.register-box input::placeholder {
  color: #ccc;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background-color: #8b7e74;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register-box button:hover {
  background-color: #7a6d63;


}

label {
  font-weight: bold;
  margin-bottom: 5px; /* 入力欄との間隔 */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 10px; /* ボタンを入力欄から少し離す */
  background-color: #6e6259;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* 上との間隔 */
  margin-left: 120px; /* 左から右にずらす */
  width: 150px;
}

button:hover {
  background-color: #5a5048;
}


header nav a {
  display: inline-block;
  text-decoration: none;
  background-color: #bfac9d;
  color: #998484;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

header nav a:hover {
  background-color: #e1c9b5;
}


.error {
  color: #e74c3c;
  font-size: 0.9em;
}

